<!doctype html>
<html>
<head>
	<title>likeString</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
	<style>
		body 		{ padding-top:80px; }
	</style>
</head>
<body>
<div class="container">

	<div class="jumbotron text-center">
		<!-- h1><span class="fa fa-users"></span> likeString</h1 -->
		<img id="logo" src="images/likeString_logo.png" />

		<p style="font-size: small">Login/Register with:</p>

		<a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Signup</a>
		<a href="/auth/local" class="btn btn-default"><span class="fa fa-user"></span> Login</a>
		<a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>
		<a href="/auth/twitter" class="btn btn-info"><span class="fa fa-twitter"></span> Twitter</a>
		<a href="/auth/google" class="btn btn-danger"><span class="fa fa-google-plus"></span> Google</a>

	</div>

</div>
</body>
</html>